@font-face {
  font-family: 'Bree Serif';
  src: url(../font/BreeSerif-Regular.ttf);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  vertical-align: bottom;
}




.footer-wrap {
  background-image: url("../images/top/img01.jpg");
  background-position: right;
  padding: 100px 0 50px;
  height: 100%;
  position: relative;
  z-index: 2;
}
.footer-wrap::after {
  content: "";
  background-color: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.footer-wrap ul {
  padding: 0 10px;
}
.footer-wrap a {
  color: #333;
  font-weight: bolder;
  line-height: 3;
}
.footer-wrap p {
  text-align: center;
  margin: 60px 0 0;
}