.container {
  height: 100vh;
}
.container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/top/img01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.ttl-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  animation-name: title;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes title {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 1;
  }
}
.ttl-wrap h1 {
  font-family: 'Bree Serif';
  font-size: 38px;
  letter-spacing: 1px;
  margin-left: 10px;
}
.ttl-wrap h1 span {
  font-size: 14px;
  vertical-align: baseline;
  margin-left: 10px;
}

.content {
  width: 90%;
  margin: auto;
  background: whitesmoke;
}

.introduction {
  padding: 80px 0;
}
.introduction h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.375rem;
}
.introduction p {
  padding: 0 30px;
}

.content-wrap {
  padding: 0 20px;
  margin-bottom: 80px;
}
.content-wrap h3 {
  font-size: 1.25rem;
  font-weight: bold;
}
.content-wrap ul li {
  margin-top: 20px;
  line-height: 1.7;
}
.content-wrap > p {
  font-size: 18px;
}
.content-wrap .name {
  margin-top: 10px;
}
.content-wrap .price {
  margin-top: 5px;
}
.content-wrap .price span {
  font-size: 14px;
}

.juncture-hr {
  width: 300px;
  padding: 0 20px;
  border-top: 1px solid #333;
  margin: 30px auto;
}
.ttl-border {
  display: flex;
  align-items: baseline;
}
.ttl-border::after {
  content: "";
  border-top: 1px solid #333;
  flex-grow: 1;
  margin-left: 5px;
}


.goods-knit a {
  cursor: pointer;
}
.glay {
  filter: grayscale(1);
}
.feature a,
.goods-necklace a {
  pointer-events: none;
} 












/* .bg-video {
  display: none;
} */

@media (min-width: 800px) {
  /* .bg-video {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    min-width: 100vw;
    min-height: 100vh;
  } */
  .ttl-wrap h1 {
    font-size: 50px;
  }
  .ttl-wrap h1 span {
    font-size: 16px;
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .content {
    width: 800px;
  }
  .feature nav ul {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .feature nav ul li {
    width: 90%;
    margin-top: 20px;
    line-height: 1.7;
  }
  .feature nav ul li:not(:nth-child(3)) {
    margin-right: 10px;
  }
  .content-wrap .item-box {
    width: 600px;
    margin: 30px auto 0;
  }
  .content-wrap .name,
  .content-wrap .price {
    display: inline-block;
  }
  .content-wrap .name {
    margin-right: 10px;
  }
}